<section id="form" style="width: 400px; height: 500px; margin-left: 700px; margin-top: 150px; float: left; background-color: white; border-radius: 5px;">
  <form style="margin: 25px;">
    <label><strong>Username</strong></label>
    <input type="text" class="fill" style="border: 1px solid black;">
    <label><strong>Email</strong></label>
    <input type="text" class="fill" style="border: 1px solid black;">
    <label><strong>Password</strong></label>
    <input type="password" class="fill" style="border: 1px solid black;">
    <p>Make sure it's at least 15 characters OR at least 8 <br>characters including a number and a lowercase letter. <a href="#">Learn more.</a></p>
    <br>
    <button id="button_sign">Sign up for Online Store
    </button>
    <br>
    <p style="font-size: 14px;">if you have account ?<a routerLink="/login">Sign in</a></p>
  </form>
</section>
