<div class="main">
  <div *ngFor="let product of products" class="items">

    <h3 >
      <a [title]="product.name + '  details'" href="{{product.ref}}">
        {{ product.name }}
      </a>
    </h3>
    <img src="{{product.image}}" height="400px" width="400px" style="margin-top:10px;">
    <div>
      <h3 style="display: inline; padding-right: 20px;">price : {{ product.price }} </h3>
      <h3 style="display: inline">rating : {{ product.rating }}  </h3>
      <br>
      <br>
      <button (click)="share(product)" style="display: block; float: left">
        Share
      </button>
      <button routerLink="/details/{{product.id}}" style="display: block;float: left; margin-bottom: 50px">
        Details
      </button>
      <button style="display: block; margin-bottom: 50px">
        Add
      </button>
    </div>
  </div>
</div>
<app-foot-bar></app-foot-bar>
