<div style="height: 90px; width: 100%; background-color: greenyellow; position: fixed; margin:0px; padding: 0px;"
     xmlns:text-decoration="http://www.w3.org/1999/xhtml">
  <div class="textOnline">
    <a routerLink="" style="text-decoration:none">Online Store</a>
  </div>
  <div style="padding-top: 10px; padding-left: 60%;">
    <table cellspacing="10">
        <td>
          <button routerLink="profile">
            <a>Личный кабинет</a>
          </button>
        </td>
        <td>
          <button routerLink="basket">
            <a>Корзина</a>
          </button>
        </td>
        <td>
          <button routerLink="contact">
            <a>Контакты</a>
          </button>
        </td>
      <td>
        <button routerLink="editor">
          <a>Добавить</a>
        </button>
      </td>
        <div>
          <input type="text" placeholder="Search.." height="50px" width="100px">
        </div>
    </table>
  </div>
</div>

