<div class="footer">
  <section>Online Store</section>

  <footer class="footer-distributed">

    <div class="footer-right">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a class="link-1" href="#">Home</a>

        <a routerLink="/profile">profile</a>

        <a href="#">Pricing</a>

        <a routerLink="/contact">About</a>

        <a href="#">Faq</a>

        <a routerLink="/contact">Contact</a>
      </p>

      <p>Online shop &copy; 2020</p>
    </div>

  </footer>
</div>
