
<section id="form" style="width: 400px; height: 500px; margin-left: 700px; margin-top: 150px; float: left; background-color: white; border-radius: 5px;">
  <form style="margin: 20px;">
    <label><strong>Username or Telephone number</strong></label>
    <input id="username" type="text" class="fill" style="border: 1px solid black;" name="UsernameOrTelephoneNumber" [(ngModel)]="data.UsernameOrTelephoneNumber">
    <label><strong>Email</strong></label>
    <input name="Email" id="email" type="text" class="fill" style="border: 1px solid black;" [(ngModel)]="data.Email">
    <label><strong>product ID</strong></label>
    <input id="productID" type="text" class="fill" style="border: 1px solid black;" [(ngModel)]="data.productID">
    <label><strong>Message</strong></label>
    <textarea id="message" id="w3mission" rows="4" cols="50" class="fill" style="border: 1px solid black; height: 200px" [(ngModel)]="data.Message">
  </textarea>
    <br>
    <button id="button_sign" (click)="postFeedback()"> Send over
    </button>
    <br>
  </form>
</section>
