<section id="form" style="width: 400px; height: 500px; margin-left: 700px; margin-top: 150px; float: left; background-color: white; border-radius: 5px;">
  <form style="margin: 25px;">
    <label><strong>Email</strong></label>
    <input type="text" class="fill" style="border: 1px solid black;">
    <label><strong>Password</strong></label>
    <input type="password" class="fill" style="border: 1px solid black;">
    <br>
    <button id="button_sign" style="font-size: 20px; margin-top: 10px;">Sign in
    </button>
    <br>
    <p style="font-size: 14px; margin-top: 10px;">if you not have account ?<a routerLink="/profile"><strong>Sign up</strong></a></p>
  </form>
</section>
